<div class="titulo-ac">
  <div class="container px-4 py-5">
    <h4 class="pb-2 border-bottom">Actualización de perfil</h4>
  </div>
</div>
<!-- <div class="fto-name">
  <button class="btn btn-primary">
    <label for="fileUpload"><i class="bi bi-cloud-upload-fill"></i></label>
    <input type="file" id="fileUpload" class="visually-hidden" />
  </button>
</div> -->

<div class="form-act">
  <div class="d-flex align-items-center">
    <div class="card-principal">
      <div class="card p-4 form-act">
        <form class="actualización-perfil">
          <div *ngIf="primeraVista">
            <!-- Primera vista-->
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                class="form-control"
                type="text"
                placeholder="Nombre aprendiz"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="nombre" class="form-label">Apellidos</label>
              <input
                class="form-control"
                type="text"
                placeholder="Apellidos aprendiz"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="ficha" class="form-label"
                >Programa de formación</label
              >
              <input
                class="form-control"
                type="text"
                placeholder="Programa aprendiz"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="ficha" class="form-label">Teléfono</label>
              <input
                class="form-control"
                type="number"
                placeholder="Teléfono aprendiz"
              />
            </div>

            <div class="mb-3">
              <label for="nombre" class="form-label">Dirección</label>
              <input
                type="text"
                class="form-control"
                id="apellidos"
                placeholder="Dirección aprendiz"
              />
            </div>

            <button class="btn btn-primary" (click)="vista2()">
              Siguiente
            </button>
          </div>

          <div *ngIf="!primeraVista && segundaVista">
            <!-- Segunda vista -->

            <div class="mb-3">
              <label for="nombre" class="form-label">Correo personal</label>
              <input
                type="email"
                class="form-control"
                id="correo"
                placeholder="Correo personal aprendiz"
              />
            </div>

            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea
                class="form-control"
                id="descripcion"
                rows="4"
                placeholder="Agregue una breve descripción sobre usted"
                required
              ></textarea>
            </div>

            <div class="mb-3">
              <label for="antigua-contraseña" class="form-label"
                >Antigua contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="contraseña"
                placeholder="Ingrese su antigua contraseña"
              />
            </div>

            <div class="mb-3">
              <label for="nueva-contraseña" class="form-label"
                >Nueva contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="contraseña"
                placeholder="Ingrese su nueva contraseña"
                maxlength="10"
              />
            </div>

            <div class="mb-3">
              <label for="confirmación-contraseña" class="form-label"
                >Confirme su contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="contraseña"
                placeholder="Confirme su nueva contraseña"
                maxlength="10"
              />
              <button class="btn btn-success" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
