<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">ASISTE</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarCollapse"
            data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <li class="nav-item">
                <a class="nav-link" href="">Inicio</a>
            <li class="nav-item">
                <a class="nav-link" href="">Registro novedad</a>
            <li class="nav-item">
                <a class="nav-link" href="">Asistencia</a>
            <a aria-expanded="false" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown"
               href="#">Información</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Programas de formación</a></li>
              <li><a class="dropdown-item" href="">Horarios</a></li>
              <li><a class="dropdown-item" href="">Procesos disciplinarios</a></li>
              <li><a class="dropdown-item" href="">Preguntas frecuentes</a></li>
            </ul>
        </li>
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
        </div>
    </ul>
 </div>
</div>
</nav>