<!-- Navbar para parendiz, es el primero, referencia para los demas -->
<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
       <div class="image_firts"><img src="/assets/img/_logo_asiste_horizontal.png" alt="logo_asiste_horizontal" width="260" height="75"> <!-- aca en el logo no hay enlace para nada,dejar asi? -->
         <a class="navbar-brand" routerLink="/inicio"></a></div>
         <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler" data-bs-target="#navbarCollapse"
              data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse"> 
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/gridi">Inicio</a>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/horarios">Horarios</a>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/regis-novedad">Registro novedad</a>      
          </li>
          <div class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-toggle="dropdown"
            href="#">Información</a>
            <ul class="dropdown-menu text-small">
                <!-- <li><a class="dropdown-item" routerLink="/">Procesos disciplinarios</a></li> -->
                <li><a class="dropdown-item" routerLink="/preguntas-frecuentes">Preguntas frecuentes</a></li>
            </ul>
        </div>
          <div class="dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="/perfil-aprendiz">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/login-p">Salir</a></li>  <!--Aqui el router-link lo deo por ahora que se dirija a la landing pero revisar a ver si es asi-->
              </ul>
          </div>
      </ul>
   </div>
  </div>

 <!-- PARA EL NAV DE INSTRUCTOR LAS OPCIONES SON:Fichas/Horarios/Información con:preguntas frecuentes y nose si procesos disciplinarios -->
 <!-- PARA EL NAV DE BIENESTAR LAS OPCIONES SON: Inicio/Notificaciones o Validaciones/Información con:preguntas frecuentes(mirar si si poner información) -->
 <!-- PARA EL NAV DE BIENESTAR LAS OPCIONES SON: Inicio/Notificaciones o Novedades -->