<div class="container mt-3">
  <h4 class="titulo-horario">Horario<hr></h4>
</div>
<div class="horario-container">
  <div class="container mt-5">
    <div class="card text-center">
      <div class="card-body">
        <div class="calendar-container">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
          <script src='fullcalendar/lang-all.js'> </script>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-flex adjunto">
  <h4 class=""> Horario</h4>
  </div -->



<!--  AQUI SE VE BIEN PERO EL HORARIO NO SALE AL LADO SI NO ARRIBA Y CON UN HR ABAJO -->













<!-- <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Horario</h5>
        <hr>
  </div>
    </div>
  </div> -->

