<div class="container mt-3">
  <h4 class="tit-preguntas">Horario<hr></h4>
</div>
<div class="horario-container">
  <div class="container mt-5">
    <div class="card text-center">
      <div class="card-body">
        <div class="calendar-container">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
    </div>
  </div>
</div>




















<!-- <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Horario</h5>
        <hr>
  </div>
    </div>
  </div> -->

