<div class="card" style="width: 18rem;">
    <i class="bi bi-backpack3" class="card-img-top" alt="principal-icon"></i>
    <!-- <img src="..." class="card-img-top" alt="principal-icon"> -->
    <div class="card-body">
      <h5 class="card-title">2503804</h5>
      <p class="card-text">ANÁLISIS Y DESARROLLO DE SOFTWARE<br>Cod-proyect:7777177<br>Fechas etapa lectiva:2023/12/12 - 2023/12/12 <br>Fechas etapa productiva:2023/12/12 - 2023/12/12 </p>
    </div>
  </div>



  <div class="card" style="width: 18rem;">
    <i class="bi bi-backpack3" class="card-img-top" alt="principal-icon"></i>
    <!-- <img src="..." class="card-img-top" alt="principal-icon"> -->
    <div class="card-body">
      <h5 class="card-title">2503804</h5>
      <p class="card-text">ANÁLISIS Y DESARROLLO DE SOFTWARE<br>Cod-proyect:7777177<br>Fechas etapa lectiva:2023/12/12 - 2023/12/12 <br>Fechas etapa productiva:2023/12/12 - 2023/12/12 </p>
    </div>
  </div>