<div class="container-data"> 
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4 ">
      <a href="#" class="card-link"></a>
      <div class="card" style="width: 18rem;">
        <i class="bi bi-backpack3 display-5 card-img-top" alt="principal-icon"></i><!-- el display menos es para el tamaño del icono digamos-6 es mas pequeño -->
        <div class="card-body">
          <h5 class="card-title">2503804</h5>
          <p class="card-text">
            ANÁLISIS Y DESARROLLO DE SOFTWARE<br />
            Cod-proyect:7777177<br />
            Fechas etapa lectiva:2023/12/12 - 2023/12/12<br />
            Fechas etapa productiva:2023/12/12 - 2023/12/12
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <i class="bi bi-backpack3 display-5 card-img-top" alt="principal-icon"></i>
        <div class="card-body">
          <h5 class="card-title">2503804</h5>
          <p class="card-text">
            ANÁLISIS Y DESARROLLO DE SOFTWARE<br />
            Cod-proyect:7777177<br />
            Fechas etapa lectiva:2023/12/12 - 2023/12/12<br />
            Fechas etapa productiva:2023/12/12 - 2023/12/12
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <i class="bi bi-backpack3 display-5 card-img-top" alt="principal-icon"></i>
        <div class="card-body">
          <h5 class="card-title">2503804</h5>
          <p class="card-text">
            ANÁLISIS Y DESARROLLO DE SOFTWARE<br />
            Cod-proyect:7777177<br />
            Fechas etapa lectiva:2023/12/12 - 2023/12/12<br />
            Fechas etapa productiva:2023/12/12 - 2023/12/12
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <i class="bi bi-backpack3 display-5 card-img-top" alt="principal-icon"></i>
        <div class="card-body">
          <h5 class="card-title">2503804</h5>
          <p class="card-text">
            ANÁLISIS Y DESARROLLO DE SOFTWARE<br />
            Cod-proyect:7777177<br />
            Fechas etapa lectiva:2023/12/12 - 2023/12/12<br />
            Fechas etapa productiva:2023/12/12 - 2023/12/12
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div>
  <div class="card">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/?text=Image cap" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>



NECESITO PONER ESTOS PORQUE SON LOS CARDS LINKS DE BOOTSTRAP PERO NOSE COMO -->
