<div class="container-status">
<div class="status">
  <!-- <h1 style="color: green">PRUEBA</h1> -->
  <h2>Estatus de asistencia<hr></h2>
  <!-- <h3>A continuación encontrara un grafico que le inidicara su porcentaje de fallas a lo largo del trimestre</h3>  -->
</div>
<div class="card-status">
  <div class="card-body-status">
    <div id="GFG">
        <p-chart
          type="polarArea"
          [data]="data"
          [options]="chartOptions"
          [style]="{ width: '70%' }">
        </p-chart>
      </div>
    </div>
  </div>
</div>

