<div class="container">
  <app-header></app-header>
  <!-- <app-grid-instructor></app-grid-instructor> -->
  <!-- <app-inicio-instructor></app-inicio-instructor> -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>

</div> 


  <!-- <app-login></app-login>  -->
  <!--
  <app-preguntas-frecuentes></app-preguntas-frecuentes>
  <app-status-asistencia></app-status-asistencia>
    <app-perfil-aprendiz></app-perfil-aprendiz>
    <app-registro-novedad></app-registro-novedad>
  <app-data-coordinacion></app-data-coordinacion> 
 
 
  <app-forgot></app-forgot>
  -->

  <!-- 
  <app-grid-aprendiz></app-grid-aprendiz>

  <app-how-to></app-how-to>
  <app-horarios></app-horarios>
  <app-notificaciones-aprendiz></app-notificaciones-aprendiz>
  <app-perfil-instructor></app-perfil-instructor>-->


