<div class="container">
  <app-header></app-header>
  <app-preguntas-frecuentes></app-preguntas-frecuentes>
  <!--<app-status-asistencia></app-status-asistencia>
  <app-perfil-aprendiz></app-perfil-aprendiz>
  <app-data-coordinacion></app-data-coordinacion> 
  <app-inicio-instructor></app-inicio-instructor>
  <app-registro-novedad></app-registro-novedad>
  <app-login></app-login> 
  <app-forgot></app-forgot>-->
  <app-footer></app-footer>
  
  <!-- 
  
  <app-grid-aprendiz></app-grid-aprendiz>
  <app-grid-instructor></app-grid-instructor>
  <app-how-to></app-how-to>
  <app-horarios></app-horarios>
  <app-notificaciones-aprendiz></app-notificaciones-aprendiz>
  <app-perfil-instructor></app-perfil-instructor>
  
   -->
</div>