@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ag-grid-community/styles/ag-grid.css'; /* SIEMPRE ES NECESARIO ES EL CSS ESTRUCTURAL CENTRAL QUE NECESITAN EL GRID, SIN ESTO EL GRID NO SIRVE*/
@import 'ag-grid-community/styles/ag-theme-alpine.css'; /* ES OPCIONAL ES EL TEMA DE CUADRICULA ELEGIDO,ESTA POR VERSE*/

/* IMAGEN GLOGAL DE FONDO */

body{
  background-image: url('./assets/img/global-fondo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
/*ESTILOS PARA EL NAVBAR*/
.navbar-expand-md{
  margin-top: 10px; 
  margin-left: 10px;

}

.nav-link{
    margin-right: 65px;
    margin-left: 65px;
    text-decoration: none; 
    /* 
    color:black; */
}
/*ESTILOS DEL FOOTER*/
.footer{
  background-color: #41A72A;
}
/*ESTILOS DEL FORMULARIO DE LOGIN Y FORMULARIO DE OLVIDO DE CONTRASEÑA*/

.card{
  margin-top: 60px;
  margin-right: 70px;
  margin-left: 100px;
}
.btn{
  margin-left: 210px;
  /*mirar color de boton margin-left: 50px;
  margin-right: 100px; */
}
.img-fluid{
  margin-left: 550px;
  margin-top: -430px;
  opacity: 90%;
  transition: all 0.3s ease;
  
}
.img-fluid{
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
    transform: scale(1.1); 
}

/*ESTILOS DE  REGISTRO DE NOVEDAD*/

.card-grande{
margin-top: -510px;
/* box-shadow: 10px 5px 2px 2px rgba(194, 91, 91, 0); */
}

.titulo{
  margin-top: 240px;
  margin-left: 35px;
  color: #504f4f;
}


/*ESTILOS DE LA DATA-COORDINACION E INICIO INSTRUCTOR*/
.container .px-4{
  margin-top: 70px;
}

/*ESTILOS DE PERFIL-APRENDIZ y PERFIL-INSTRUCTOR*/
.titulo-ac{
  margin-left: -170px;
  color: #504f4f;
}
.fto-name{
  margin-left: 15px; /*revisar*/
  margin-top: -10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #41A72A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2 );
  
}
.form-act{
  margin-left: 150px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2 ); */
  margin-top: -10px;
}


/*ESTILOS DE PREGUNTAS FRECUENTES*/

.tit-preguntas{
  margin-top: 130px;
  margin-left: -80px;
  color: #504f4f;
}
/* ESTILOS PARA EL CALENDARIO DE HORARIOS */
.horario-container{
  max-width: 1000px;
  margin-top: -20px;
  /* display: inline-block; */
  /* text-align: left;  */
}

/* ESTILOS PARA EL CALENDARIO DE HORARIOS */


.titulo-horario{
  margin-top: 130px;
  margin-left: -80px;
  color: #504f4f;

}
.calendar-container{
  cursor: pointer;
}

/* ESTILOS PARA EL GRAFICO Y TODO EL COMPONENTE DE ESTATUS DE ASISTENCIA */

.container-status {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido hacia la izquierda */
  align-items: center;
  height: 100vh;
  padding-left: 20px; /* Añade espacio a la izquierda */
}

.status {
  flex: 1;
  display: flex;
  /* justify-content: flex-end; */
  margin-right: 90px;
  color: #636363;
  align-items: center;
  padding-right: 10px; /* Espacio entre el status y la tarjeta */
}

.card-status {
  margin-top: 70px;
  width: 70%; /* Ancho de la tarjeta */
  max-width: 450px; /* Ancho máximo */
  margin-right: 100px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body-status {
  padding: 20px;
}

#polar-chart {
  height: 300px; /* Altura del gráfico */
  /* Ajusta cualquier otro estilo según sea necesario para el gráfico */
}
/* ESTILOS PARA EL GRID */

.container-grid {
  margin-top: 150px;
}
