@import "~bootstrap-icons/font/bootstrap-icons.css";

/* IMAGEN GLOGAL DE FONDO 
body{
  background-image: url('./assets/img/global-fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}*/
/*ESTILOS PARA EL NAVBAR*/
.navbar-expand-md{
  margin-top: 10px;
  margin-left: 10px;
}

.nav-link{
    margin-right: 65px;
    margin-left: 65px;
    text-decoration: none; 
    /* 
    color:black; */
}
/*ESTILOS DEL FOOTER*/
.footer{
  background-color: #41A72A;
}
/*ESTILOS DEL FORMULARIO DE LOGIN Y FORMULARIO DE OLVIDO DE CONTRASEÑA*/

.card{
  margin-top: 60px;
  margin-right: 70px;
  margin-left: 100px;
}
.btn{
  margin-left: 210px;
  /*mirar color de boton margin-left: 50px;
  margin-right: 100px; */
}
.img-fluid{
  margin-left: 550px;
  margin-top: -430px;
  opacity: 90%;
  transition: all 0.3s ease;
  
}
.img-fluid{
    filter: grayscale(100%); /* Convierte la imagen a escala de grises */
    transform: scale(1.1); 
}

/*ESTILOS DE  REGISTRO DE NOVEDAD*/


/* .fondo{
  background-image: url('./assets/img/volver-la-escuela-patrón-transparente-de-vector-blanco-y-negro-documento-digital-esquema-educativo-fondo-iconos-clase-línea-223839269.webp') ;
 } */

/*ESTILOS DE LA DATA-COORDINACION E INICIO INSTRUCTOR*/
.container .px-4{
  margin-top: 70px;
}
/*ESTILOS DE PERFIL-APRENDIZ*/

/*ESTILOS DE PREGUNTAS FRECUENTES*/
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

/* 
.container-fluid{
  background-image: "./global-fondo";
} */
