<div class="d-flex adjunto">
  <h4 class="titulo">Registro de novedad</h4>
</div>
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card-grande">
    <div class="card p-4">
      <form class="registro-novedades">
        <div class="mb-3">
          <label for="documento" class="form-label"
            >Documento de identidad</label
          >
          <input
            type="number"
            class="form-control"
            required
            id="documento"
            placeholder="Ingrese su documento"
            pattern="[0-9]{12}"
            autofocus
            
          />
        </div>

        <div class="mb-3">
          <label for="descripcion" class="form-label"
            >Descripción de la novedad</label
          >
          <textarea
            class="form-control"
            id="comentarios"
            rows="4"
            required
            placeholder="Ingrese una breve descripción de su novedad aquí"
            
          ></textarea>
        </div>

        <button class="btn btn-success" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <div class="fondo"></div>

  <!-- <textarea class="form-control" id="comentarios" rows="4" placeholder="Ingrese sus comentarios aquí" required></textarea>
FALTO EL TEXT AREA-->
</div>
